<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

	<section id="rc_options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Rc Custom Options</label>
            <tab>sales</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="print" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Print Quality Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label</label>                 
                </field>
                <field id="option_price" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
            </group>

            <group id="material" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Material Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_3" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 3</label>                 
                </field>
                <field id="option_price_3" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
            </group>

            <group id="size" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Size Width x Height Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_3" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 3</label>                 
                </field>
                <field id="option_price_3" translate="label comment" type="text" sortOrder="7" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_4" translate="label comment" type="text" sortOrder="8" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 4</label>                 
                </field>
                <field id="option_price_4" translate="label comment" type="text" sortOrder="9" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>

                <field id="option_label_5" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 5</label>                 
                </field>
                <field id="option_price_5" translate="label comment" type="text" sortOrder="11" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>

                <field id="option_label_6" translate="label comment" type="text" sortOrder="12" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 6</label>                 
                </field>
                <field id="option_price_6" translate="label comment" type="text" sortOrder="13" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>

                 <field id="option_label_7" translate="label comment" type="text" sortOrder="14" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 7</label>                 
                </field>
                <field id="option_price_7" translate="label comment" type="text" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>

                <field id="option_label_8" translate="label comment" type="text" sortOrder="16" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 8</label>                 
                </field>
                <field id="option_price_8" translate="label comment" type="text" sortOrder="17" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_9" translate="label comment" type="text" sortOrder="18" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 9</label>                 
                </field>
                <field id="option_price_9" translate="label comment" type="text" sortOrder="19" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>               
            </group>

            <group id="measurements" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Measurements Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_3" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 3</label>                 
                </field>
                <field id="option_price_3" translate="label comment" type="text" sortOrder="7" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_4" translate="label comment" type="text" sortOrder="8" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 4</label>                 
                </field>
                <field id="option_price_4" translate="label comment" type="text" sortOrder="9" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_5" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 5</label>                 
                </field>
                <field id="option_price_5" translate="label comment" type="text" sortOrder="11" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
            </group>

            <group id="measurement_width" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Measurements Width Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="price" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
            </group>

            <group id="measurement_height" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Measurements Height Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="price" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
            </group>

            <group id="sides" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Sides Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_1" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="4" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_2" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="7" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>               
            </group>

            <group id="cutting" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Cutting Options Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_1" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="4" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_2" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="7" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>   
                <field id="option_label_3" translate="label comment" type="text" sortOrder="8" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 3</label>                 
                </field>
                <field id="option_price_3" translate="label comment" type="text" sortOrder="9" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_3" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="10" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>            
            </group>

            <group id="laminating" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Laminating Options Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_1" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="4" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_2" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="7" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>   
                <field id="option_label_3" translate="label comment" type="text" sortOrder="8" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 3</label>                 
                </field>
                <field id="option_price_3" translate="label comment" type="text" sortOrder="9" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_3" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="10" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>    

                <field id="option_label_4" translate="label comment" type="text" sortOrder="11" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 4</label>                 
                </field>
                <field id="option_price_4" translate="label comment" type="text" sortOrder="12" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_4" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="13" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>
                <field id="option_label_5" translate="label comment" type="text" sortOrder="14" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 5</label>                 
                </field>
                <field id="option_price_5" translate="label comment" type="text" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_5" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="16" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>   
                <field id="option_label_6" translate="label comment" type="text" sortOrder="18" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 6</label>                 
                </field>
                <field id="option_price_6" translate="label comment" type="text" sortOrder="19" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_6" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="20" showInDefault="1" showInWebsite="1" >
                    <label>Upload Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">rc_custom_options/images</upload_dir>
                </field>         
            </group>

            <group id="artwork" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Ready Artwork Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="option_label_1" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 1</label>                 
                </field>
                <field id="option_price_1" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="option_label_2" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Option Label 2</label>                 
                </field>
                <field id="option_price_2" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
            </group>

            <group id="upload_artwork" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Upload Artwork Setting</label>
                <field id="main_label" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>                 
                </field>
                <field id="price" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Price</label>  
                    <comment>if leave blank 0 will be apply</comment>                
                </field>
                <field id="file_extension" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>File Extension</label>  
                    <comment>Enter file extensions like : pdf,psd,png,jpg,zip.. etc.</comment>                
                </field>
            </group>

        </section>		
    </system>
</config>