<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    

   <preference for="Magento\Catalog\Block\Product\View\Options\Type\Select\Multiple" type="Rc\ProductOptions\Block\Catalog\Product\View\Options\Type\Select\MultipleType" />

   <preference for="Magento\Catalog\Block\Product\View\Options\Type\Select\Checkable" type="Rc\ProductOptions\Block\Catalog\Product\View\Options\Type\Select\CheckableOption" />


</config>